@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
:focus{outline:0}
body,html{background: #ccc;font-family:Rowdies;padding:0;margin:0}
#top-footer{width:100%;height:70px;background: #efefef;box-shadow: 0 10px #0003;display:flex;position:relative;z-index:1}
#bottom-footer{color:#ddd;text-align:center;background:#333;position:absolute;width:100%;display:none}
#title{margin:21.5px;font-size:20px;color:#999}
#title::selection,.button::selection {background: #0003;color: #fff;}
#black_screen{z-index:1;background:#0006;position:fixed;left:0;top:0;width:100%;height:100%;pointer-events:none;opacity:0}
.button{font-size:15px;position:absolute;background:#9f9f9f;height:30px;width:50px;right:10px;bottom:10px;line-height: 30px;text-align: center;color: #eee;box-shadow: 0 2px 0 #0006;cursor:pointer}
.card, #settings, #contact{text-shadow: 0 1px 0 #0003;background:#efefef;width:300px;height:400px;box-shadow: 0 10px #0003;position:absolute}
.card_title{font-size:22.5px;text-align:center;color:#999;margin:10px 10px 0 10px}
.card_date{font-size:12px;color:#aaa;border-bottom:2px #aaa solid;margin:0 10px 5px 10px;padding-bottom:5px}
.card_txt, .txt{color:#777}
.card_txt {font-size:15px;color:#777;margin:0 10px;overflow:auto;height:275px}
.card_erase {width:60px;left:10px;background:#e23 !important;box-shadow: 0 2px #b12 !important;color:#fff !important}
#add_card{cursor:pointer}
.expanded, #settings, #contact{position:fixed;left:calc(50% - 250px) !important;top:calc(50% - 250px) !important;width:500px;height:500px;z-index:2!important}
.card_title_expanded{background: #ddd;padding: 2px}
.card_txt_expanded{height: 360px;padding: 10px;background: #ddd}
a{color:#ddd;display:block}
#settings, #contact{opacity:0;pointer-events:none}
.header {height:40px;padding:0 10px;font-size:25px;line-height:40px;margin:15px;border-bottom:5px solid;color:#eee;font-size:16px}
#bottomFooter p{padding-bottom:10px;margin:0;}

.switch {background: #999;width: 60px;height: 25px;margin: 20px;cursor:pointer}
.ball {background: #bbb;position: relative;bottom: 5px;width: 35px;height: 35px;right: 5px;border-radius: 5px;}
.switch.active {background:#64a75c;}
.ball.active {background:#90f784;left: 30px;}